<section class="page-section products" id="feedback">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-4">
      Customer feedback
    </h2>

    <div #scrollContainer class="scroll-container gap-5">
      <div class="col-md-6 col-lg-4 mb-5 flex-shrink-0" style="width: 300px;">
        <div class="card shadow cursor border-0">
          <img src="assets/img/feedback1.jpeg" alt="feedback1" class="card-img-top img-fluid" />
          <div class="card-body text-center">
            <h5 class="card-title">Longer hair</h5>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 flex-shrink-0" style="width: 300px;">
        <div class="card shadow cursor border-0">
          <img src="assets/img/feedback2.jpeg" alt="feedback2" class="card-img-top img-fluid" />
          <div class="card-body text-center">
            <h5 class="card-title">Stop hairfall</h5>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 flex-shrink-0" style="width: 300px;">
        <div class="card shadow cursor border-0">
          <img src="assets/img/feedback3.jpeg" alt="feedback3" class="card-img-top img-fluid" />
          <div class="card-body text-center">
            <h5 class="card-title">Thick hair</h5>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 flex-shrink-0" style="width: 300px;">
        <div class="card shadow cursor border-0">
          <img src="assets/img/feedback4.jpeg" alt="feedback4" class="card-img-top img-fluid" />
          <div class="card-body text-center">
            <h5 class="card-title">Hair growth</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
