<section class="page-section products" id="feedback">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-4" style="
    font-size: 24px;">
      Customer feedback
    </h2>

    <div #scrollContainer class="scroll-container gap-3">
      <div class="col-md-6 col-lg-4 mb-5 flex-shrink-0 m-2" style="width: 300px;">
        <div class="card shadow cursor border-0">
          <img src="assets/img/feedback1.jpeg" alt="feedback1" class="card-img-top img-fluid" />
          <div class="card-body text-center">
            <!-- <h5 class="card-title">Longer hair</h5> -->
             <p class="card-text text-muted">
              "I was struggling with dull, thin hair, but after using this product my hair feels stronger, thicker, and healthier. The growth is amazing and the results are visible in just a few months!"
             </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 flex-shrink-0 m-2" style="width: 300px;">
        <div class="card shadow cursor border-0">
          <img src="assets/img/feedback2.jpeg" alt="feedback2" class="card-img-top img-fluid" />
          <div class="card-body text-center">
            <!-- <h5 class="card-title">Stop hairfall</h5> -->
             <p class="card-text text-muted">
              "I had severe hair thinning and was losing confidence. After using this product, my scalp looks fuller and my hair has started growing back. Truly a life-changing experience!"
             </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 flex-shrink-0 m-2" style="width: 300px;">
        <div class="card shadow cursor border-0">
          <img src="assets/img/feedback3.jpeg" alt="feedback3" class="card-img-top img-fluid" />
          <div class="card-body text-center">
            <!-- <h5 class="card-title">Thick hair</h5> -->
             <p class="card-text text-muted">
              "My hair was dull and weak, breaking easily. After using this product, it has become smooth, shiny, and much stronger. I can finally style my hair with confidence!"
             </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 flex-shrink-0 m-2" style="width: 300px;">
        <div class="card shadow cursor border-0">
          <img src="assets/img/feedback4.jpeg" alt="feedback4" class="card-img-top img-fluid"  style="height:300px"/>
          <div class="card-body text-center">
            <!-- <h5 class="card-title">Hair growth</h5> -->
             <p class="card-text text-muted">
              "After using this oil, my hair started growing noticeably. I can see real improvement in just a short time. Truly happy with the results!"
             </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
