<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Address -->
      <div class="col-lg-4 mb-3 mb-lg-0">
        <h4>Address</h4>
        <p class="lead mb-0">
          HIG, Group -1, KHB Colony. 4th Cross, Near MUDA Park. Hootagalli.<br />
          Mysore, Karnataka - 570018
        </p>
      </div>

      <!-- Social Icons -->
      <div class="col-lg-4 mb-3 mb-lg-0">
        <h4>Visit at</h4>
        <a class="btn-social" (click)="redirectToNewPage('facebook')"><i class="fab fa-facebook-f"></i></a>
        <a class="btn-social" (click)="redirectToNewPage('Instagram')"><i class="fab fa-instagram"></i></a>
      </div>

      <!-- Contact Info -->
      <div class="col-lg-4">
        <h4>Contact Us</h4>
        <p class="lead mb-0">
          +91 8169255196<br />
          +91 6363298244
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="copyright text-center">
  <div class="container">
    <small>Copyright &copy; Aloka Herbal Earth 2025</small>
  </div>
</div>
