  <!-- Navigation-->
  <app-header></app-header>
  <!-- Masthead-->
  <!-- <app-dashboard></app-dashboard> -->
  <!-- products Section-->
  <!-- <app-products></app-products> -->
  <!-- About Section-->
  <!-- <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-4 ms-auto">
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
            nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae?
            Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        </div>
        <div class="col-lg-4 me-auto">
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error consequatur dolorum id libero? Eaque
            atque, ad voluptatibus tempore aliquid qui non numquam facilis illum necessitatibus alias nihil velit in adipisci
            rem quasi natus beatae!</p>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Contact Section-->
  <!-- <app-contact></app-contact> -->
  <!-- Footer-->
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <!-- products Modals-->
  <!-- products Modal 1-->
  <!-- <div class="products-modal modal fade" id="productsModal1" tabindex="-1" aria-labelledby="productsModal1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
            aria-label="Close"></button></div>
        <div class="modal-body text-center pb-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <h2 class="products-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2>
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                </div>
                <img class="img-fluid rounded mb-5" src="assets/img/products/cabin.png" alt="..." />
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                  nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae?
                  Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" data-bs-dismiss="modal">
                  <i class="fas fa-xmark fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- products Modal 2-->
  <!-- <div class="products-modal modal fade" id="productsModal2" tabindex="-1" aria-labelledby="productsModal2"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
            aria-label="Close"></button></div>
        <div class="modal-body text-center pb-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <h2 class="products-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                </div>
                <img class="img-fluid rounded mb-5" src="assets/img/products/cake.png" alt="..." />
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                  nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae?
                  Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" data-bs-dismiss="modal">
                  <i class="fas fa-xmark fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

