<section class="page-section products" id="products">
  <div class="container">
    <!-- products Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">products</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
    </div>
    <!-- products Grid Items-->
    <!-- <div class="card-group">
  <div class="card" (click)="redirectToPage()" >
   <img class="img-fluid" src="assets/img/Product3.jpeg" alt="Product1" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div> -->
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="card shadow cursor border-0" (click)="redirectToPage()">
          <!-- Product Image at the Top -->
          <img src="assets/img/Product3.jpeg" alt="Product1" class="card-img-top img-fluid" />
          <!-- Description at the Bottom -->
          <div class="card-body text-center">
            <h5 class="card-title">Aloka Herbal Earth Hair Oil For Men & Women</h5>
            <p class="card-text text-muted">
              The power of ayurvedic herbs Including Rosemary, Hibiscus, Castor,
              Amla, Neem, Coconut and Bhringraj | Deeply nourishes the scalp and addresses hair problems such as dandruff,
              premature greying, and dryness, promoting overall scalp health. Chemical-Free and Safe for All Hair Types: Free from
              harmful chemicals like parabens, sulfates, and silicones, this oil is perfect for all hair types, including
              sensitive scalp, dry, oily, or normal hair.
            </p>
            <button class="btn btn-buy w-100 py-2" type="submit" >
            Buy
          </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
