<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <img class="masthead-avatar mb-3 large-image" src="assets/img/AlokaHearbalEarthMain.jpeg" alt="AlokaEarth" />
      <!-- <h1 class="masthead-heading text-uppercase mb-0 text-black-50">Aloka Herbal Earth</h1> -->
      <div class="divider-custom divider-light">
        <!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div> -->
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0 text-secondary">Zeal and Feel From Earth
Eternal Akshayanidi for Root and Smooth Hair by Aloka</p>
    </div>
  </header>
  <app-products></app-products>
  <app-contact></app-contact>
