.large-image {
  height: 28rem;
  width: 60rem;
  object-fit: cover;
}

.image-slider {
  position: relative;
  width: 72rem;
  height: 38rem;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.image-slider img {
  object-fit: cover;
  width: 100%;  /* Let .large-image decide width */
  height: 38rem;
}

.card{
  border: none;
  background-color: #f1d57d !important;
  padding: 20px;
  width: 72rem;
}

.card-body p{
color: #176233 !important;
}

@media (max-width: 768px) {
  .large-image {
    height: 25rem;
    width: 20rem;
  }
  .image-slider{
    height: 22rem !important;
    width: 23rem !important;
  }

  .image-slider img {
  width: 25rem;  /* Let .large-image decide width */
  height: 22rem;
}

.card{
  width: auto;
}
}


.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: transparent;
  color: var(--bs-golden);
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  z-index: 10;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}


