<section class="page-section products" id="benefits">
  <div class="container">
    <!-- products Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-4">Products Benefits</h2>
    <div class="d-lg-flex justify-content-center gap-2">
      <div class="rounded-1 mb-4 col-lg-5">
        <img src="assets/img/Features.jpeg" class="large-image w-100" alt="Image 1" />
      </div>
      <div>
        <div class="card mb-3 rounded-2 shadow-sm border-0">
          <div class="card-body light-green-bg">
            <h5 class="card-title light-golden-text">Hair Fall</h5>
            <p class="card-text light-golden-text">Helps reduce hair fall by nourishing the scalp and strengthening roots.</p>
          </div>
        </div>

        <div class="card mb-3 rounded-1 shadow-sm">
          <div class="card-body light-golden-bg">
            <h5 class="card-title light-green-text">Dandruff</h5>
            <p class="card-text light-green-text">Fights dandruff effectively and keeps your scalp clean and healthy.</p>
          </div>
        </div>

        <div class="card mb-3 rounded-1 shadow-sm">
          <div class="card-body light-green-bg">
            <h5 class="card-title light-golden-text">Hair Strength</h5>
            <p class="card-text light-golden-text">Improves hair strength, preventing breakage and split ends.</p>
          </div>
        </div>

        <div class="card mb-3 rounded-1 shadow-sm">
          <div class="card-body light-golden-bg">
            <h5 class="card-title light-green-text">Hair Shine</h5>
            <p class="card-text light-green-text">Adds natural shine and smoothness for healthy-looking hair.</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
